button{
    background-color: #C00000;
    color: white;
}
.btn{
    background-color: #C00000;
    color: white;
font-weight: bolder;
    font-size: 15px;
}
.btn:hover{
    background-color: #C00000;
}
.vermell{
    color: #C00000;
}
.blanco{
    color: white;
}
a:hover{
    color: #C00000;
}
a:visited{
    color: #C00000;
}
footer a:hover{
    text-decoration: underline;
}

.grisT{
    color: #333333;
}/*gris text*/

.grisTFons{
    background-color: #333333;
}/*gris text*/

.grisI{
    background-color: #666666;
}/*gris icones*/

.grisB{
    color: #999999;
}/*gris botons*/

.grisL{
    color: #DDDDDD;
}/*gris linies i separadors*/

.grisF{
    background-color: #F5F5F5;
}/*gris colores de fons*/

.naranjaBold{
    color:#FC4C00;
}/*Otros colores naranja fuerte*/

.naranja{
    color:#FF8000;
}/*Otros colores naranja*/

.amarillo{
    color:#FEBF00;
}/*Otros colores amarillo*/

.verde{
    color:#71A137;
}/*Otros colores verde*/

.azulClaro{
    color:#5BC8D5;
}/*Otros colores azul claro*/

.azul{
    color:#4D7AFF;
}/*Otros colores azul*/

.azulFuerte{
    color:#4A00D0;
}/*Otros colores azul fuerte o lila depende de lo daltonico que seas*/

.lila{
    color:#D900D9;
}/*Otros colores lila*/
.titol{
    color: #fff;
}
.menu_flotant{
    background-color: #f5f5f5;
}
footer{
    color: #999999;
}
.footer{
    background-color: #efefef;
}
.separating_line{
    background-color: #dddddd;
}
.separating_line2{
    background-color: #DDDDDD;
}
.breadcrumb{
  background-color:#f5f5f5 ;
}


#nomPortal{
    color: white;
}
#nomPortal:visited{
    color: white;
}
#nompPortal:hover{
    text-decoration: none;
}


.btn a:visited{
    color: white;
}
