
body {
    margin: auto;
    max-width: auto;
    width: 100%;
    overflow-x: hidden;
}
.mainContent{
    margin-top: 5%;
}
a{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    color: #C00000;
    /*text-decoration: underline;*/
    text-decoration: none;

}
#logo_footer{
    position: relative;
    top: 1px;
}
.logo {
    width: 150px;
}
.paragraf{
  font-size: 16px;   
}
.noticia{
    font-size: 14px;
}
.menu_flotant{
    padding-left: 4% ;
    border-top: solid 3px white ;
    padding-bottom: 1px;
}

.llista {
    float: right;
}

.franja1 {
    display: flex;
}

.seccio {
  
    display: flex;
}

.seccio_text {
    text-align: justify;
    padding: 20px;
}

.footer{
    display: flex;
}
.logo{
    width: 110px;
    height: 27px;
    margin-top: 0.7em;
    
}
.title{
    position: relative;
    width: 50%;
}
.titol{
    margin-bottom: 20px;
}
.headerContainer{
    width: 100%;
    padding-left: 5%;
}
.mainContent{
  margin-left: 5%;
  margin-right: 5%;
}
.menu{
    height: 5px;
}
.menu_btn{
    background-image: url("menu.png"); 
    position: relative;
    top: 55px;
    height: 2em;
    width: 1.5em;
}
.footer{
    position: relative;
    margin-top: 10%;
    width:100%;
   bottom: 0px;
}
footer{ 
    width: 85%;
    text-align: center;
    margin-left: 7.5%;
    font-size: 0.688em;
    margin-top:5%;
    padding-bottom: 2%;
}
footer img {
    float: left;
    
}
.separating_line{
    width: 100%;
    height: 2px;
    margin-bottom: 2%;
}
.separating_line2{
    width: 100%;
    height: 3px;
    margin-bottom: 2%;
}
.separating_line2top{
    width: 100%;
    height: 3px;
    background-color: #dddddd;

}
.separating_line0{
    width: 100%;
    height: 1px;
    margin-bottom: 1px;
    background-color: #dddddd;
}

#avis{
    text-align: left;
    margin: 6%;
  
    position: relative;
    bottom: 7%;
}
.profe{
    text-align: center;
}

#nomProfe{
    font-family: 'Open Sans', sans-serif;
}
.btn{
    border-radius: 4px;
    text-decoration: none;
    padding: 0;
    border: 0;
    padding: 1%;
}








 /* Dropdown Button */
 .dropbtn {
    background-color: #f5f5f5;
    
    color: red;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #999999;} 

 #img_profe{
     border-radius: 50%;
 }
  .subtitol {
    font-size: 1.5em;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0;
    padding-left: 1%;
}
#listaProfes{
    padding-left: 1px;
}
#listaProfes li{
    list-style-type: none;
    padding-left:1%;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: 600;
}
#listaProfes li:hover{
    text-decoration: none;
}
a:focus, a:hover{
    color: white;
}
ul {
    list-style: none; /* Remove default bullets */
  }
  
  ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #C00000; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }