

.Regular{
    font-family: 'Open Sans', sans-serif;
    color: #333333; 
}


.ExtraBoldItalic{
    font-family: 'Open Sans', sans-serif;
}
.titol{
    font-family: 'OpenSansSemiBold', Helvetica, Arial, sans-serif;
    font-weight: semibold;
    font-family: 'OpenSansSemiBold', Helvetica, Arial, sans-serif;
    font-size: 1.750em;
    
}

